<div class="container my-4">
  <h1>Criar amostra com ID <%= @sample.id %> para o paciente <%= @sample.patient.first_name %></h1>
  <% if @doctors.present? %>
      <form id="search-doctor" class="text-left form-inline" action="/samples/<%= @sample.id %>" method="post">
        <input name="_method" type="hidden" value="patch" />
        <select class="select2 form-control ml-auto mr-2" placeholder="Nome..." name="sample[doctor_id]">
          <option disabled selected value> --- Pesquise/Selecione - Doutor --- </option>
          <% @doctors.each do |doctor| %>
            <option value="<%= doctor.id %>">
              <%= "#{doctor.first_name} #{doctor.last_name} - CRM #{doctor.crm}" %>
            </option>
          <% end %>
        </select>
        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
        <select name="sample[category]" class="text-left form-inline" id="category" placeholder="Categoria...">
          <option disabled selected value> --- Pesquise / Selecione  --- </option>
          <% ["Sangue", "Soro", "Segmento de cordão"].each do |category| %>
            <option value="<%= category %>">
              <%= category %>
            </option>
          <% end %>
        </select>
        <input type="text" class="text-left form-inline" label="Observação" name="sample[observation]">
        <%= hidden_field_tag "sample[status]", "criada" %>
        <input type="submit" class="btn btn-primary mr-auto ml-2" value="Criar amostra">
      </form>
      <ul id="results" class="list-inline"></ul>
    <% else %>
      <p>Não existem médicos cadastrados no Sample Hub</p>
    <% end %>

    <div class="jumbotron">
      <p><h3><%= @sample.patient.first_name %> <%= @sample.patient.last_name %></h3></p>
      <hr>
      <p>Gênero: <%= @sample.patient.gender %></p>
      <p>Data de nascimento: <%= @sample.patient.born_at.strftime("%d/%m/%Y")%></p> 
      <p>Endereço: <%= @sample.patient.address %></p>
      <p>CPF: <%= @sample.patient.cpf %></p>
      <p>SUS: <%= @sample.patient.sus_code %></p>
    </div>

</div>
