<!-- Amostras a serem recebidas da coleta -->
<div class="container">
  <div class="d-flex flex-start flex-wrap justify-content-between align-items-start">
  <% @samples.each do |sample| %>
  <div class="card-product">
    <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
    <div class="card-product-infos">
      <h2><%= sample.patient.first_name%> <%= sample.patient.last_name%></h2>
      <p>Data de nascimento: <%= sample.patient.born_at %></p>
      <p> <strong><%= sample.category %></strong></p>
      <%= simple_form_for sample, remote: true do |f|%>
        <%= f.input :collected_at, as: :date %>
        <%= f.button :submit %>
      <% end %>
    </div>
  </div>
  <% end %>
  </div>
</div>

<!-- Amostras a recebidas da coleta, a serem enviadas para o laboratório -->
<!-- Precisam ter um checkbox para inclusão em batches -->

