<div class="container">
  <h2><%= current_user.first_name %>, informe <strong> data de coleta</strong> e <strong>quantidade</strong> para cada amostra abaixo:</h2>
  <table id="tblsamplesconfirmed" class="table table-sm table-hover" style="background-color: white;">
        <tr style="background-color: #999999; text-shadow: 1px 1px 3px rgba(0,0,0,0.8); color: white;">
          <th style="text-align: center;">ID</th>
          <th>Nome do Paciente</th>
          <th>Tipo de Amostra</th>
          <th>Data da coleta</th>
          <th>Quantidade</th>
          <th style="text-align: center;">Ação</th>
        </tr>

        <% @samples_to_complete.each do |sample| %>
          <tr style="background-color: white;">
            <td scope="row" style="text-align: center;"><%= sample.id %></td>
            <td><%=sample.patient.first_name%> <%=sample.patient.last_name%> </td>
            <td><%=sample.category%></td>
            <%= simple_form_for sample, remote: true do |f|%>
            <td><%= f.input :collected_at, label: false, as: :string, required: false, input_html: {class: "datepicker"} %></td>
            <td><%= f.input :quantity, label: false %></td>
            <td><%= f.button :submit, class:"btn btn-primary" %></td>
            <% end %>
            <%# END ACTION LINKS %>
          </tr>
        <% end %>
  </table>
</div>



  <hr>
  <hr>

  <h2>Amostras prontas para envio ao laboratório:</h2>
  <div class="row">
    <form action="/batches" method="post">
      <div class="d-flex flex-start flex-wrap justify-content-between align-items-start">
        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
        <% @samples_ready_to_send.each do |sample| %>
          <div class="card-product">
            <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
            <div class="card-product-infos">
              <div class="form-check">
                <input type="checkbox" class="form-check-input" id="checkbox_remessa" name="sample_ids[]" value="<%= sample.id %>"/>
                <label for="checkbox_remessa" class="form-check-label">Adicionar a nova remessa</label>
              </div>
              <h2>Sample ID: <%= sample.id%></h2>
              <h2>Nome: <%= sample.patient.first_name%> <%= sample.patient.last_name%></h2>
              <p>Data de nascimento: <%= date_mask(sample.patient.born_at) %></p>
              <p>Tipo de amostra: <strong><%= sample.category %></strong></p>
              <p>Data da coleta: <strong><%= sample.collected_at%></strong></p>
            </div>
          </div>
        <% end %>
      </div>
      <div class="d-flex justify-content-center">
        <input type="submit" value="Criar batch" class="btn btn-primary">
      </div>
    </form>
  </div>
</div>


<!-- Amostras a recebidas da coleta, a serem enviadas para o laboratório -->
<!-- Precisam ter um checkbox para inclusão em batches -->

