<div class="container-xxl my-5" style="padding: 0 100px;">
  <h2 class="text-center text-uppercase">Cadastro de relação familiar</h2>
  <hr>
  <div class="row justify-content-center" >
    <div class="col">
      <div id="relationship" class="d-flex flex-column border border-light rounded p-2 background-editable h-100 shadow">
        <% if @patients.present? %>
          <form id="search-patient" class="text-left" action="/families" method="post">

            <div class="text-center form-group col-12">
              <h4 class="my-3">Busque um receptor cadastrado</h4>
              <select class="select2 form-control" placeholder="Nome..." name="family[receptor_id]" required="true">
                <option disabled selected value> --- Pesquise / Selecione  --- </option>
                <% @patients.each do |patient| %>
                  <option value="<%= patient.id %>">
                     <%= "#{patient.first_name} #{patient.last_name} - CPF #{patient.cpf}" %>
                  </option>
                <% end %>
              </select>
            </div>
        <% else %>
          <p>Não existem receptores cadastrados no Sample Hub</p>
        <% end %>
      </div>
    </div>
    <div class="col-8">
      <div id="new-patient" class="d-flex flex-column border border-light rounded p-2 background-editable shadow">
            <div class="col-12">
              <div class="row">
                <div class="text-center form-group col">
                  <h4 class="my-3">Selecione o grau de parentesco do seu doador</h4>
                  <div class="d-flex justify-content-center">
                    <div class="mr-3">
                      <select class="select2 form-control" placeholder="Nome..." name="family[relationship]" required="true">
                        <option disabled selected value> --- Pesquise / Selecione  --- </option>
                          <% ["MÃE/PAI", "IRMÃO/IRMÃ", "FILHO/FILHA", "CÔNJUGE", "COMPANHEIRA/COMPANHEIRO", "AVÔ/AVÓ", "PRIMO/PRIMA", "TIO/TIA", "OUTRO"].sort.each do |relation| %>
                          <option value="<%= relation %>">
                            <%= relation %>
                          </option>
                        <% end %>
                      </select>
                    </div>
                    <div class="ml-3">
                      <input type="submit" class="btn btn-primary mb-2 mr-5" value="Cadastrar parentesco">
                    </div>
                  </div>
                </div>
              </div>
              <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
              <%= hidden_field_tag "family[donor_id]", @patient.id %>
            </div>
          </form>
        <hr>
        <%= render "/patients/muted_patient"  %>
      </div>
    </div>
  </div>
</div>