<div class="justify-content-center px-3" >
  <%= simple_form_for @patient do |f| %>

    <div class="form-inputs">
      <div class="row justify-content-between">
        <div class="col-5">
          <%= f.input :first_name, label: "Nome", disabled: true %>
        </div>
        <div class="col-5">
          <%= f.input :last_name, label: "Sobrenome", disabled: true %>
        </div>
        <div class="col-2">
          <%= f.label "Sexo" %>
          <br>
          <div class="d-flex justify-content-start">
            <div>
            <%= f.radio_button :gender, "M", disabled: true %>
            <%= label :gender_male, "M", disabled: true %>
            </div>
            <div class="ml-2">
            <%= f.radio_button :gender, "F", disabled: true %>
            <%= label :gender_female, "F", disabled: true %>
            </div>
          </div>
        </div>
      </div>
      <div class="row justify-content-between">
        <div class="col-4">
          <%= f.input :born_at, as: :string, label: "Data de nascimento", placeholder: "dd/mm/aaaa", disabled: true %>
        </div>
        <div class="col-4">
          <%= f.input :cpf, label: "CPF", placeholder: "apenas números", disabled: true %>
        </div>
        <div class="col-4">
          <%= f.input :sus_code, label: "Cartão SUS", placeholder: "apenas números", disabled: true %>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <%= f.input :address, label: "Endereço", disabled: true %>
        </div>
      </div>
    </div>
  <% end %>
</div>
