<div class="justify-content-center px-3" >
  <%= simple_form_for @patient do |f| %>

    <div class="form-inputs">
      <div class="row justify-content-start mt-3">
        <div class="text-left ml-3">
          <%= f.radio_button :patient_type, "receptor" %>
          <%= label :patient_type_receptor, "Receptor aparentado" %>
        </div>
        <div class="text-left ml-3">
          <%= f.radio_button :patient_type, "not_relative" %>
          <%= label :patient_type_donor, "Receptor não aparentado" %>
        </div>
        <div class="text-left ml-3">
          <%= f.radio_button :patient_type, "donor" %>
          <%= label :patient_type_donor, "Doador" %>
        </div>
      </div>
      <hr>
      <div class="row justify-content-between">
        <div class="col-5">
          <%= f.input :first_name, label: "Nome" %>
        </div>
        <div class="col-5">
          <%= f.input :last_name, label: "Sobrenome" %>
        </div>
        <div class="col-2">
          <%= f.label "Sexo" %>
          <br>
          <div class="d-flex justify-content-start">
            <div>
            <%= f.radio_button :gender, "M" %>
            <%= label :gender_male, "M" %>
            </div>
            <div class="ml-2">
            <%= f.radio_button :gender, "F" %>
            <%= label :gender_female, "F" %>
            </div>
          </div>
        </div>
      </div>
      <div class="row justify-content-between">
        <div class="col-4">
          <%= f.input :born_at, as: :string, label: "Data de nascimento", placeholder: "dd/mm/aaaa" %>
        </div>
        <div class="col-4">
          <%= f.input :cpf, label: "CPF", placeholder: "apenas números" %>
        </div>
        <div class="col-4">
          <%= f.input :sus_code, label: "Cartão SUS", placeholder: "apenas números" %>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <%= f.input :address, label: "Endereço" %>
        </div>
      </div>
    </div>
    <div class="form-actions text-right">
      <%= f.submit "Cadastrar paciente", class: "btn btn-primary mb-3" %>
    </div>
  <% end %>
</div>
