<div class="container my-4">
  <h2>Remessa <%= @batch.id %> - <%= @batch.sender.institution %></h2>

  <p>Situação: <%= @status %></p>

  <%# INI BATCH EDIT SECTION %>
  <div style="display: grid; width: 200px; ">

    <% if @batch.sent_at %> <%# if batch is sent render the sent date %>
      <p>Enviada em <%= date_mask(@batch.sent_at) %></p>
    <% elsif sender?(current_user) || current_user.admin? %> <%# sender can edit sent date if batch has not been sent yet %>
      <%= simple_form_for(@batch) do |f| %>
        <%= f.input :sent_at, label: "Data do envio", 
          as: :string, input_html: { class: "datepicker", required: true },
          error: 'Por favor selecione uma data' %>
        <%= f.button :submit, "enviar remessa", class: "btn btn-primary" %>
      <% end %>
    <% end %>

    <% if sender?(current_user) && @batch.sent_at.nil? || current_user.admin? %>
      <div class="my-2">
        <%= link_to 'adicionar mais amostras', samples_path, class: "btn btn-primary" %>
      </div>
    <% end %>
    <%# END SENDER OPTIONS  %>

    <% if @batch.received_at %> <%# if batch is received, render the date %>
      <p>Recebida em <%= date_mask(@batch.received_at) %></p>
    <% elsif (receiver?(current_user) && @batch.sent_at) || current_user.admin? %> <%# receiver can edit received date after batch is sent %>
      <%= simple_form_for(@batch) do |f| %>
        <%= f.input :received_at, label: "Data do recebimento",
          as: :string, input_html: { class: "datepicker", required: true },
          error: 'Por favor selecione uma data'  %>
        <%= f.button :submit, "confirmar recebimento", class: "btn btn-primary mb-4" %>

  </div>
  <%# END BATCH EDIT SECTION %>


  <%# INI SAMPLES TABLE %>
          <span><%= pluralize(@samples.count, 'amostra', plural: 'amostras') %></span>
          <table class="caption-top">
            <table class="table table-hover align-bottom">
              <thead  style="background-color: gray; text-shadow: 1px 1px 3px rgba(0,0,0,0.8); color: white;">
                <tr>
                  <th scope="col">ID</th>
                  <th scope="col">Nome</th>
                  <th scope="col">Tipo de Paciente</th>
                  <th scope="col">Tipo de Amostra</th>
                  <th scope="col" style="text-align: center;">Coletada em</th>
                  <th scope="col" style="text-align: center;">Ações</th>
                  <% if receiver?(current_user) || current_user.admin? %>
                    <th scope="col" style="text-align: center;">Receber</th>
                    <th scope="col" style="text-align: center;">Rejeitar</th>
                  <% end %>
                </tr>
              </thead>
              <tbody style="background-color: white;">
                <% @samples.each do |sample| %>
                  <tr>
                    <th scope="row"><%= sample.id %></th>
                    <td><%= "#{sample.patient.first_name} #{sample.patient.last_name}" %></td>

                    <%# TIPO DE PACIENTE %>
                    <% if Family.where(receptor: sample.patient).count > 0 %>
                      <td>Receptor</td>
                    <% elsif Family.where(donor: sample.patient).count > 0 %>
                      <td>Doador</td>
                    <% else %>
                      <td>Não aparentado</td>
                    <% end %>

                    <%# TIPO DE AMOSTRA %>
                    <td><%= "#{sample.category}" %></td>
                    <%# COLETADA EM (SHOULD BE ABLE TO EDIT IN THIS VIEW) %>
                    <td style="text-align: center;"><%= date_mask(sample.collected_at) %></td>

                    <%# INI ACTION LINKS %>
                    <td style="text-align: center;">
                      <% if sender?(current_user) && @batch.sent_at.nil? || current_user.admin? %>
                        <%= link_to icon('fas','edit'), edit_sample_path(sample), :title => "editar amostra" %>
                        <%= link_to icon('fas','minus-circle'), batch_path(batch: { sample_id: sample.id }),
                                    method: :put, :title => "remover da remessa", remote: true %>
                      <% else %>
                        <%= link_to icon('far','eye'), edit_sample_path(sample), :title => "ver amostra" %>
                      <% end %>
                    </td>
                    <% if receiver?(current_user) || current_user.admin? %>
                      <td>
                        <input type="checkbox" class="chb-1" name="<%= sample.id %>-receiving" value="true" checked="true">
                      </td>
                      <td>
                        <input type="checkbox" class="chb-2" name="<%= sample.id %>-receiving" value="false">
                      </td>
                    <% end %>
                    <%# END ACTION LINKS %>

                  </tr>
                <% end %>
              </tbody>
            </table>
          </table>
  <%# END SAMPLES TABLE %>
        <% end %>
      <% end %>
</div>
