<div class="container my-4">
  <h2>Remessas</h2>
  <% if @batches.count.zero? %>
    <p>Nenhuma remessa encontrada</p>
    <% link_to 'Amostras', samples_path, class: "btn btn-primary",
                                        style: "color: white;" %>
  <% else %>
    <%# ini list of batches %>
    <div class="card">
      <table class="table table-hover align-bottom">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Data enviada</th>
            <th scope="col">Enviada por</th>
            <th scope="col">Status</th>
            <th scope="col">Data recebida</th>
            <th scope="col">Recebida por</th>
            <th scope="col">Editar</th>
          </tr>
        </thead>

        <tbody>
        <% @batches.reverse.each do |batch| %>
          <tr>
            <th scope="row" class="align-middle"><%= batch.id %></th>
            <% if batch.sent_at %>
              <td scope="row" class="align-middle"><%= date_mask(batch.sent_at) %></td>
              <td scope="row" class="align-middle"><%= "#{batch.sender.first_name} #{batch.sender.last_name}" %></td>
            <% else %>
              <td scope="row" class="align-middle"></td>
              <td scope="row" class="align-middle"></td>
            <% end %>

            <% if batch.received_at %>
              <td class="align-middle">Recebida</td>
            <% elsif batch.sent_at %>
              <td class="align-middle">Enviada</td>
            <% else %>
              <td class="align-middle">Pendente</td>
            <% end %>

            <% if batch.received_at %>
              <td scope="row" class="align-middle"><%= date_mask(batch.received_at) %></td>
              <td scope="row" class="align-middle"><%= "#{batch.receiver.first_name} #{batch.receiver.last_name}" %></td>
            <% else %>
              <td scope="row" class="align-middle"></td>
              <td scope="row" class="align-middle"></td>
            <% end %>
            <td class="align-middle"> FONTAWESOME! </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
    <%# end list of batches %>
  <% end %>
</div>