<div class="container my-4">

  <h2>Remessas</h2>

  <div class="my-2">
    <% if sender?(current_user) %>
      <%= link_to 'Criar nova remessa', samples_path, class: "btn btn-primary" %>
    <% end %>
  </div>

  <% if @batches.count.zero? %>
    <p>Nenhuma remessa encontrada</p>

  <% else %>
    <%# INI BATCHES TABLE %>
    <div class="card">
      <table class="table table-hover align-bottom">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Instituição</th>
            <th scope="col">Enviada por</th>
            <th scope="col">Data enviada</th>
            <th scope="col">Situação</th>
            <th scope="col">Data recebida</th>
            <th scope="col">Recebida por</th>
            <th scope="col">Ações</th>
          </tr>
        </thead>

        <tbody>
        <% @batches.reverse.each do |batch| %>
          <tr>
            <th scope="row"><%= batch.id %></th>
            <td><%= "#{batch.sender.institution}" %></td>
            <td><%= "#{batch.sender.first_name} #{batch.sender.last_name}" %></td>

            <% if batch.sent_at %>
              <td><%= date_mask(batch.sent_at) %></td>
            <% else %>
              <td></td>
            <% end %>

            <% if batch.received_at %>
              <td>Recebida</td>
            <% elsif batch.sent_at %>
              <td>Enviada</td>
            <% else %>
              <td>Pendente</td>
            <% end %>

            <% if batch.received_at %>
              <td><%= date_mask(batch.received_at) %></td>
              <td><%= "#{batch.receiver.first_name} #{batch.receiver.last_name}" %></td>
            <% else %>
              <td></td>
              <td></td>
            <% end %>
            <td>
              <% if batch.received_at %>
                <%= link_to icon('fas','eye'), edit_batch_path(batch), :title => "ver remessa" %>
              <% else %>
                <%= link_to icon('fas','edit'), edit_batch_path(batch), :title => "editar" %>
              <% end %>
              <% if sender?(current_user) %>
                <%= link_to icon('far','trash-alt'), batch_path(batch),
                            method: :delete,
                            data: { confirm: "Retirar amostras e apagar remessa #{batch.id}?" }, 
                            :title => "apagar" 
                %>
              <% end %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
    <%# END BATCHES TABLE %>
  <% end %>
</div>
