<div class="container my-4">

  <h2>Remessas</h2>

  <div class="my-2">
    <% if sender?(current_user) %>
      <%= link_to 'Criar nova remessa', samples_path, class: "btn btn-primary" %>
    <% end %>
  </div>

  <% if @batches.count.zero? %>
    <p>Nenhuma remessa encontrada</p>

  <% else %>
    <div>
      <%# INI FILTER TABS %>
      <div class="d-flex align-items-center justify-content-between">
        <i id="counter">Total: <%= pluralize(@batches.count, 'remessa', plural: 'remessas') %></i>
        <ul class="nav nav-pills">
          <li>
            <button class="nav-link btn btn-secondary selected" 
                    id="filterUnsent">Não enviadas</button>
          </li>
          <li>
            <button class="nav-link btn" 
                    id="filterSent">Enviadas</button>
          </li>
          <li>
            <button class="nav-link btn" 
                    id="filterReceived">Recebidas</button>
          </li>
        </ul>
      </div>
      <%# END FILTER TABS %>

      <%# INI BATCHES TABLE %>
      <table id="tblBatches" class="table table table-hover" style="background-color: white;">
        <tr style="background-color: #999999; text-shadow: 1px 1px 3px rgba(0,0,0,0.8); color: white;">
          <th style="text-align: center;">ID</th>
          <th>Instituição</th>
          <th>Enviada por</th>
          <th style="text-align: center;">Enviada em</th>
          <th style="text-align: center;">Recebida em</th>
          <th>Recebida por</th>
          <th style="text-align: center;">Amostras</th>
          <th style="text-align: center;">Ações</th>
        </tr>

        <% @batches.each do |batch| %>
          <tr style="background-color: white;">
            <td scope="row" style="text-align: center;"><%= batch.id %></td>
            <td><%= "#{batch.sender.institution}" %></td>
            <td><%= "#{batch.sender.first_name} #{batch.sender.last_name}" %></td>

            <td style="text-align: center;"><%= date_mask(batch.sent_at) if batch.sent_at %></td>

            <td style="text-align: center;"><%= date_mask(batch.received_at) if batch.received_at %></td>
            <td><%= "#{batch.receiver.first_name} #{batch.receiver.last_name}" if batch.received_at %></td>
            <td style="text-align: center;"><%= "#{batch.samples.count}" %></td>

            <%# INI ACTION LINKS %>
            <td style="text-align: center;">
              <%# sender can edit and destroy if batch is not sent %>
              <% if sender?(current_user) && batch.sent_at.nil? %>
                <%= link_to icon('fas','edit'), edit_batch_path(batch), :title => "editar" %>
                <%= link_to icon('far','trash-alt'), batch_path(batch),
                            method: :delete, remote: true,
                            data: { confirm: "Retirar amostras e apagar remessa #{batch.id}?" }, 
                            :title => "apagar" %>
              <%# sender can view if batch is sent %>
              <% elsif sender?(current_user) && batch.received_at.nil? %>
                <%= link_to icon('fas','eye'), edit_batch_path(batch), :title => "ver remessa" %>
              <% end %>

              <%# receiver can view if batch has not been sent %>
              <% if receiver?(current_user) && batch.sent_at.nil? %>
                <%= link_to icon('fas','eye'), edit_batch_path(batch), :title => "ver remessa" %>
              <%# receiver SHOULD BE ABLE TO MARK AS RECEIVED if batch has been sent %>
              <% elsif receiver?(current_user) && batch.sent_at && batch.received_at.nil? %>
                <%= link_to icon('fas','edit'), edit_batch_path(batch), :title => "editar" %>
              <% end %>
              <%# if batch was received everyone can view %>
              <% if batch.received_at %>
                <%= link_to icon('fas','eye'), edit_batch_path(batch), :title => "ver remessa" %>
              <% end %>
            </td>
            <%# END ACTION LINKS %>
          </tr>
        <% end %>
      </table>
      <%# END BATCHES TABLE %>
    </div>
  <% end %>

</div>
